.root {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.brandText {
  font-family: var(--standard-header);
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  color: var(--wedding-blue);
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .brandText {
    font-size: 18px;
  }
}
